
<div>
  <h2 id="page-heading" data-cy="ReviewHeading">
    <!--<span>Reviews</span>-->

    <div class="d-flex justify-content-end">
     <!-- <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>-->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-review"
        [routerLink]="['/review/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Review </span>
      </button>
    </div>
  </h2>
  <div class="col-12 row">
  <div style="display: block;" class="col-6">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
    </canvas>

  </div>
  <div style="display: block;" class="col-6">
    <canvas baseChart
            [data]="pieChartDataCrs"
            [labels]="pieChartLabelsCrs"
            [chartType]="pieChartType"
            [options]="pieChartOptionsCrs"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
    </canvas>
  </div>
  </div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reviews?.length === 0">
    <span>No reviews found</span>
  </div>

  <!--<div class="table-responsive" id="entities" *ngIf="reviews && reviews.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rate"><span>Rate</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="desc"><span>Desc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="desc"><span>Professor</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let review of reviews; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/review', review.id, 'view']">{{ review.id }}</a>
          </td>
          <td>{{ review.rate }}</td>
          <td>{{ review.desc }}</td>
          <td>{{ review.professors }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/review', review.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(review)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>-->
</div>
